<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p5_anynote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P5_AnyNote.NoActionBar">
        <activity android:name=".options.Tips"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".security.ConfirmEncryptionPass"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".security.CreateEncryptionPass"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".notes.EditLabels"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".notes.FirstNote"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".notes.NewNote"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".notes.EditNote"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".notes.NoteDetails"
            android:label="" />
        <activity android:name=".account.Register"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".account.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".account.CheckUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notes.NotesAsLabel"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".notes.Trash"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".notes.Archive"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".notes.Notes"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".notes.Base"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>