<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p5_anynote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P5_AnyNote.NoActionBar">
        <activity android:name=".EditLabels"></activity>
        <activity android:name=".FirstNote" />
        <activity android:name=".NewNote" />
        <activity android:name=".EditNote" />
        <activity android:name=".NoteDetails"
            android:label=""/>
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".CheckUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotesAsLabel"/>
        <activity
            android:name=".Trash"/>
        <activity
            android:name=".Archive"/>
        <activity
            android:name=".Notes"/>
        <activity
            android:name=".Base"/>
    </application>

</manifest>