<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p5_anynote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P5_AnyNote.NoActionBar">
        <activity android:name=".security.ConfirmEncryptionPass"></activity>
        <activity android:name=".security.CreateEncryptionPass" />
        <activity android:name=".notes.EditLabels" />
        <activity android:name=".notes.FirstNote" />
        <activity android:name=".notes.NewNote" />
        <activity android:name=".notes.EditNote" />
        <activity
            android:name=".notes.NoteDetails"
            android:label="" />
        <activity android:name=".account.Register" />
        <activity android:name=".account.Login" />
        <activity android:name=".account.CheckUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notes.NotesAsLabel" />
        <activity android:name=".notes.Trash" />
        <activity android:name=".notes.Archive" />
        <activity android:name=".notes.Notes" />
        <activity android:name=".notes.Base" />
    </application>

</manifest>